.image {
    height: 50px;
    width: 50px;
    position: absolute;
}

body {
    background-image: url('https://i.ytimg.com/vi/f9OSSl3ndRo/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    overflow: hidden;
}

#basket {
    position: fixed;
    bottom: 0px;

}